/* Body */
body {
    background: #171719;
}

.create-news {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    color: #fff;
}

.create-news h1 {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* FORM */
.news-form {
    background: #0b0b0b;
    padding: 30px;
    border-radius: 12px;
}

/* GROUP */
.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #d1d5db;
}

/* INPUTS */
.news-form input[type="text"],
.news-form input[type="date"],
.news-form textarea {
    width: 100%;
    padding: 12px 14px;
    background: #1f1f1f;
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    color: #fff;
    font-family: inherit;
    font-size: 0.95rem;
}

.news-form textarea {
    resize: vertical;
}

/* UPLOAD */
.image-upload {
    border: 2px dashed #2a2a2a;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: block;
    color: #9ca3af;
}

/* .image-upload input {
    display: none;
} */

.image-upload i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #6b7280;
}

.image-upload span {
    display: block;
    margin-bottom: 6px;
}

.image-upload small {
    font-size: 0.75rem;
}

.image-upload:hover {
    border-color: #FF7D78;
    color: #fff;
}

/* ACTIONS */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 30px;
}

/* BUTTONS */
.btn-cancel {
    background: #2a2a2a;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-save {
    background: #f5c542;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-save i {
    margin-right: 6px;
}

.btn-cancel:hover,
.btn-save:hover {
    opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .news-form {
        padding: 20px;
    }

    .form-actions {
        flex-direction: column;
        align-items: stretch;
    }
}