/* Body */

/* CONTENEDOR GENERAL */
.news-detail {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    color: #ffffff;
}

/* BREADCRUMB */
.breadcrumb {
    font-size: 0.85rem;
    color: #9ca3af;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #9ca3af;
    text-decoration: none;
}

.breadcrumb span {
    margin: 0 6px;
}

/* HEADER */
.news-header {
    margin-bottom: 30px;
}

.news-tag {
    display: inline-block;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #C8160D;
    margin-bottom: 10px;
}

.news-header h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    margin-bottom: 12px;
    color: #ffffff;
}

.news-meta {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: #9ca3af;
}

/* IMAGEN */
.news-image {
    margin: 30px 0;
}

.news-image img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

/* CONTENIDO */
.news-content {
    line-height: 1.8;
    font-size: 1rem;
    color: #d1d5db;
}

.news-content p {
    margin-bottom: 20px;
}


/* ACCIONES */
.news-actions {
    display: flex;
    gap: 12px;
    margin-top: 40px;
}

.btn {
    padding: 10px 18px;
    font-size: 1rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary {
    background: #FF3228;
    color: #fff;
}

.btn-danger {
    background: #FF3228;
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: #FF3228;
}

#noticia_contenido {
    white-space: pre-line;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .news-header h1 {
        font-size: 1.6rem;
    }

    .news-actions {
        flex-direction: column;
        align-items: flex-start;
    }
}