:root {
    --bg-main: #0e0e0e;
    --bg-panel: #1a1a1a;
    --bg-card: #202020;
    --border-soft: #2e2e2e;
    --text-main: #ffffff;
    --text-muted: #b3b3b3;
    --accent: #FF3228;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: #fff;
}

/* Layout */
.panel {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: linear-gradient(180deg, #1a1a1a, #111);
    border-right: 1px solid var(--border-soft);
    padding: 24px;
}

.profile {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 32px;
}

.profile i {
    border-radius: 50%;
}

.profile h3 {
    font-size: 1rem;
}

.profile span {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu a {
    padding: 12px;
    border-radius: 8px;
    color: var(--text-muted);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    /* transition: all 0.3s; */
    position: relative;
}

.menu a:hover,
.menu a.active {
    background: var(--accent);
    color: var(--text-main);
}

.badge {
    background: var(--text-main);
    color: var(--accent);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 6px;
    margin-left: auto;
}

/* Content */
.content {
    flex: 1;
    padding: 32px;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.main-header p {
    color: #9ca3af;
}

.search {
    background: #1a1a1a;
    padding: 10px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search input {
    background: none;
    border: none;
    color: #fff;
    outline: none;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 8px 14px;
    background: #2a2a2a;
    border: none;
    border-radius: 6px;
    color: #ccc;
    cursor: pointer;
}

.tab.active {
    background: #d4af37;
    color: #000;
}

/* Tabla */
.tabla-container {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #202020;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    color: #aaa;
    font-weight: normal;
}

tbody tr {
    border-bottom: 1px solid #2a2a2a;
}

tbody tr:hover {
    background: #222;
}

/* Estados */
.estado {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 1rem;
}

.estado.pendiente {
    background: #d4af37;
    color: #000;
}

/* Botón */
.btn {
    padding: 6px 12px;
    background: var(--accent);
    border: none;
    cursor: pointer;
    color: var(--text-main);
    text-decoration: none;
    font-size: 1rem;
}


/* Paginación */
.paginacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #aaa;
}

.paginacion button {
    background: #2a2a2a;
    border: none;
    color: #ccc;
    padding: 6px 10px;
    border-radius: 6px;
    margin-left: 5px;
    cursor: pointer;
}

.paginacion button.active {
    background: #d4af37;
    color: #000;
}